/*Tabs */
.active-tabs{
    border-bottom: 2px solid #2A4F96;
    color: #2A4F96;
    font-weight: bold;
    padding-bottom: -10px;
    cursor: pointer;
}
.tabs{
    margin-right: 10px;
    cursor: pointer;
}
.inner-tabs{
    border: 1px solid grey; 
    size: 20px;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
    cursor:pointer;
    border-radius: 4px;
}
.inner-active{
    border: 1px solid color #2A4F96;
    background-color: rgba(173, 216, 230, 0.828);
    border: 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.1), 0 1px 2px 0 rgba(0,0,0,0.6);
}
.active-content{
    display:flex;
    width: 600px;
    min-width: 100%;
    max-width: 700px;
    background-color: #F7F7F8;
    justify-content: space-between;
    border: 1px solid;
    border-color: #7C7C7E;
    height: 28rem;
    border-radius: 5px;
}
.active-inner{
    display: flex;
    width: 100%;
    background-color: #F7F7F8;
    justify-content: space-between;
}
.content{
    background: white;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: none;
}
.content-tabs{
    display: flex;
    border: 1px solid;
    border-color: #7C7C7E;
    height: 100%;
    
}
.bloc-tabs{
    justify-content: start;
    display: flex;
    border-bottom: 1px solid #D5DEE4;
    padding: 5px;
    background-color: white;
    width: 100%;
    padding-bottom: .5rem;
}
.container{
    background-color: white;
    display: block;
    width: 60%;
    margin-left: 30px;
}


/*Icons*/
